@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, #9c4d4d, #9149be);
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    width: 100%;
    height: 7rem;
}

.logo{
    padding-left: 2rem;
}

.navbar{
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 3rem;
    display: flex;
}

.navbar a{
    margin: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar a:hover{
    text-decoration:underline;
}

.container{
    display: flex;
}

.left{
    width: 50%;
    padding: 5rem, 5rem;
}

.headerp{
    margin: auto;
    padding-left: 3rem;
    padding-top: 3rem;
    font-size: 60px;
    color: white;
}

.small{
    margin: auto;
    padding-left: 3rem;
    padding-top: 1.5rem;
    font-size: 20px;
    color: white;
}

.right{
    margin: auto;
    padding-top: 3rem;
}

.right img{
    border-radius: 50%;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #fafafa;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #ffffff;
}

.btn-box a:nth-child(1)::before{
    background: white;
}

.btn-box a:nth-child(1):hover {
    color: #000000;
    transition: .5s;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.container .btn-box {
    justify-content: space-between;
    width: 345px;
    height: 50px;
    padding-left: 3rem;
    padding-top: 3rem;
}